# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:
salaries["Salary or Hourly"].count()
print(salaries["Salary or Hourly"][salaries["Salary or Hourly"] == "Salary"].count())
print(salaries["Salary or Hourly"][salaries["Salary or Hourly"] == "Hourly"].count())

25161
8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
# Your code here:
salaries["Department"].unique()

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

En esta secciÃ³n de la prÃ¡ctica de laboratorio:

Probaremos si el salario por hora de todos los trabajadores por hora:

Es significativamente diferente de $30/hora.

Importe "one sample test function" de scipy y:

Realice la prueba de hipÃ³tesis para un intervalo de confianza bilateral del 95 %.

In [27]:
# Your code here:
import pylab as plt
from scipy.stats import norm

from scipy.stats import ttest_1samp

# mu media poblacional
# t_test=ttest_1samp(salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"], 30, alternative='two-sided')
from statsmodels.stats import weightstats as w

z_score, p_value = w.ztest(salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"], value=30, alternative='two-sided')

p_value

1.8228873859286195e-94

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

TambiÃ©n tenemos curiosidad acerca de los salarios en la fuerza policial.
El jefe de policÃ­a de Chicago afirmÃ³ en una conferencia de prensa que los salarios de este aÃ±o
son mÃ¡s altos que el promedio del aÃ±o pasado de $ 86000 por aÃ±o
para todos los empleados asalariados.
Pruebe esta hipÃ³tesis unilateral usando un intervalo de confianza del 95%.
Sugerencia: una prueba de una cola tiene un valor p que es la mitad del valor p de dos colas.
Si nuestra hipÃ³tesis es mayor que, entonces para rechazar, el estadÃ­stico de prueba tambiÃ©n debe ser positivo

In [49]:
# Your code here:
z_score, p_value = w.ztest(salaries["Annual Salary"][(salaries["Department"] == "POLICE") & (salaries["Salary or Hourly"] == "Salary")], value=86000, alternative='larger')

p_value

0.0010280845287547855

Using the `crosstab` function, find the department that has the most hourly workers.

In [42]:
# Your code here:
pd.crosstab(salaries["Department"], salaries["Salary or Hourly"]).sort_values("Hourly", ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

Los trabajadores del departamento con mÃ¡s trabajadores por hora:
Se han quejado de que su salario por hora es inferior a $35/hora.
Con una prueba t de una muestra, pruebe esta hipÃ³tesis unilateral con un nivel de confianza del 95 %.

In [47]:
# Your code here:
t_test=ttest_1samp(salaries["Hourly Rate"][(salaries["Department"] == "STREETS & SAN") & (salaries["Salary or Hourly"] == "Hourly")], 35, alternative='greater')
t_test

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.0)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.


En la siguiente celda, construiremos un intervalo de confianza del 95 % para el salario medio por hora de todos los trabajadores por hora.
El intervalo de confianza se calcula en SciPy mediante la funciÃ³n t.interval.
Puedes leer mÃ¡s sobre esta funciÃ³n aquÃ­.
Para calcular el intervalo de confianza del salario por hora, use el 0,95
para el nivel de confianza, el nÃºmero de filas - 1 para los grados de libertad, la media de la muestra para el parÃ¡metro de ubicaciÃ³n y el error estÃ¡ndar para la escala. El error estÃ¡ndar se puede calcular usando esta funciÃ³n en SciPy.

In [74]:
# Your code here:
from scipy.stats import t
from scipy import stats
stats.sem(salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"], ddof=1)

t.interval(0.95, salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"].count() - 1, salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"].mean(), scale=0.1352368565101596)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [77]:
# Your code here:
stats.sem(salaries["Annual Salary"][(salaries["Salary or Hourly"] == "Salary") & (salaries["Department"] == "POLICE")], ddof=1)

t.interval(0.95, salaries["Annual Salary"][(salaries["Salary or Hourly"] == "Salary") & (salaries["Department"] == "POLICE")].count() - 1, salaries["Annual Salary"][(salaries["Salary or Hourly"] == "Salary") & (salaries["Department"] == "POLICE")].mean(), scale=157.82445675052244)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

Otro tipo de prueba de una muestra es una prueba de hipÃ³tesis de proporciones.
En esta prueba, examinamos si la proporciÃ³n de un grupo en nuestra muestra
 es significativamente diferente a una fracciÃ³n.

Puede leer mÃ¡s sobre las pruebas de proporciÃ³n de una muestra aquÃ­.

En la celda a continuaciÃ³n, use la funciÃ³n proporcions_ztest
de statsmodels para realizar una prueba de hipÃ³tesis que determinarÃ¡
si la cantidad de trabajadores por hora en la ciudad de Chicago
es significativamente diferente del 25 % con un nivel de confianza del 95 %.

In [92]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
#salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"]

count = salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"].count()
nobs = len(salaries["Hourly Rate"])

stat, pval = proportions_ztest(count=count, nobs=nobs, value=0.25)

stat, pval

8022
33183

(-3.5099964213703005, 0.0004481127249057967)